@font-face {
  font-family: gothic;
  src: url(../fonts/GOTHIC.TTF);
}

html, h1, h2, h3, h4, h5, h6 {
  font-family: gothic !important;
}

#main-content {
  padding: 0;
}

.container {
  padding: 0;
}

.row {
  margin: 0;
}

html body.html {
  background: white !important;
}

.btn-default,
.btn-primary,
.btn-success {
  background-color: #35AA4B;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
}

.btn-default[disabled] {
  background-color: #35AA4B;
}

a {
  color: #3C9EAB;
}

//Frontpage

#content-top-first-wrapper .container {
  .row {
    margin: 0;
  }
}

.block-custom-top-services {
  h2.block-title {
    margin: 0 auto;
    width: 250px;
    padding-bottom: 50px;
    color: #2B2B2B;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
  }
  .content-wrapper {
    margin: 0 -15px;
  }
  .service-wrapper {
    position: relative;
    float: left;
    padding: 0 15px;
    text-align: center;
    width: 20%;
    .service-logo {
      text-align: center;
      max-width: 250px;
      padding: 10px 0;
      img {
        max-height: 150px;
        height: auto;
        max-width: 100%;
        width: auto;
      }
    }
    .service-title {
      height: 50px;
      display: table;
      width: 100%;
      p {
        color: #3C9EAB;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 767px) {
    .service-wrapper {
      width: 50%;
      margin-bottom: 15px;
      .service-logo {
        max-width: 100%;
      }
    }
  }
  @media (max-width: 640px) {
    .service-wrapper {
      width: 100%;
    }
  }
}

.front #search-wrapper {
  padding: 0;
  background-size: cover;
  background-position: top;
  height: 300px;
  position: relative;
  margin-bottom: 85px;
  form#search-api-page-search-form-services {
    margin: 0 auto;
    width: 50%;
    button {
      margin: 0 auto;
      display: block;
      background-color: #3C9EAB;
      border-color: #3C9EAB;
      font-weight: bolder;
      font-size: 18px;
      :hover {
        border-color: #3C9EAB;
      }
    }
  }
  #block-search-api-page-services{
    position: initial;
    .content-wrapper{
      position: absolute;
      width: 670px;
      left: 50%;
      margin-left: -335px;
      bottom: -115px;
    }
  }
}

@media (max-width: 1199px) {
  .front #search-wrapper {
    height: 250px;
    h2.block-title {
      font-size: 18px;
      margin: 0px auto 110px auto;
      width: 330px;
    }
  }
}

@media (max-width: 992px) {
  .front #search-wrapper {
    height: 200px;
    h2.block-title {
      font-size: 18px;
      margin: 0px auto 70px auto;
      width: 330px;
    }
    form#search-api-page-search-form-services {
      margin: 70px auto;
    }
  }

  #content-top-first-wrapper {
    margin: 40px auto;
  }
}

@media (max-width: 769px) {
  .front #search-wrapper {
    height: 150px;
    h2.block-title {
      font-size: 18px;
      margin: 0px auto 30px auto;
      width: 330px;
    }
  }
}

@media (max-width: 660px) {
  .front #search-wrapper {
    height: 100px;
    font-size: 14px;
    h2.block-title {
      font-size: 14px;
      margin: 0px auto 5px auto;
      width: 225px;
    }
    .form-group {
      margin: 0;
    }
  }

  .front #search-wrapper form#search-api-page-search-form-services button {
    font-size: 14px;
    margin: 25px auto;
  }

  #content-top-first-wrapper {
    margin: 80px auto;
    #content-top-first ul.menu li {
      display: block;
      margin: 0px auto;
      width: 150px;
      padding: 5px;
      text-align: center;
    }
  }

}

#content-top-first-wrapper {
  margin: 40px auto;
  padding: 0;
}

#content-top-first {
  max-width: 700px;
  float: none;
  margin: 0 auto;
  ul.menu {
    li {
      display: inline-block;
      a {
        color: white;
        background-color: #3C9EAB;
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 19px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

}

.front #page #content-top-second-wrapper:before {
  display: none;
}

#search-wrapper {
  h2.block-title {
    color: #3C9EAB;
    font-size: 24px;
    background-color: white;
    margin: 0px auto 110px auto;
    width: 450px;
    text-align: center;
  }
  p {
    text-align-last: center;
  }
}

//End frontpage

// Views
.collapse {
  display: block;
}

@media (max-width: 767px) {
  .collapse {
    display: none;
    clear: both;
    margin-left: 10px;
    padding-top: 10px;
  }
}

.col-sm-3 {
  overflow: hidden;
}

.row aside button {
  background: #35AA4B;
  padding: 15px 12px;
  border-radius: 4px;
  right: 0;
  top: 0;
  margin: 0 15px;
  float: left;
  z-index: 8;
  .icon-bar {
    display: none;
  }
  .sr-only {
    position: static;
  }
}

.views-row {
  position: relative;
  float: left;
  padding: 15px 15px;
  width: 33%;
  height: auto;
  .views-field-field-logo img {
    max-height: 150px;
    height: auto;
    width: auto;
  }
}

.view-all-services {
  .views-row {
    &:nth-child(3n+1) {
      clear: left;
    }
  }
  .view-content {
    float: left;
    width: 100%;
  }
}

.views-row {
  position: relative;
  float: left;
  padding: 0 15px;
  text-align: center;
  width: 30%;
  .views-field-field-logo {
    text-align: center;
    max-width: 250px;
    padding: 10px 0;
    img {
      height: auto;
      max-width: 100%;
      margin: auto;
      width: auto;
    }
  }
  .views-field-field-title {
    height: 50px;
    display: table;
    width: 100%;
    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

#slider-facetapi-facet-search-apiservices-block-field-cost {
  width: 70%;
  margin: 0 auto 0 0;
}

#views-exposed-form-all-services-page-search--page {
  width: 250px;
}

//End views
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  white-space: normal !important;
}

//Services page
.node .content {
  padding: 20px 0;
  > .field {
    clear: both;
    width: 100%;
  }
}

.ui-datepicker-div {
  z-index: 10 !important;
}

.node-services img {
  max-height: 150px;
  height: auto;
  max-width: 250px;
  width: auto;
}

.title-wrapper {
  overflow: hidden;
  width: 70%;
  float: left;
  > .field {
    float: left;
    width: 25%;
  }
  h2 {
    margin: 0;
    overflow: hidden;
    a {
      float: left;
      margin-right: 25px;
    }
  }
  form {
    clear: both;
    margin: 15px 0 0 0;
  }
}

.field-name-field-type select {
  height: 60px;
}

.field-name-field-social-links .field-item {
  float: left;
}

.info-wrapper .btn {
  margin: 0;
}

.buttons {
  display: inline-flex;
  margin: 20px auto;
  .button-item {
    margin: 0 15px 0 0;
  }
}

#advice, #map {
  clear: both;
}

.field-name-field-logo {
  overflow: hidden;
  img {
    max-width: 250px;
    float: right;
    margin: 0 5px;
  }
}

.rating-wrapper {
  clear: both;
  > .field {
    float: left;
    width: 100px;
    margin-top: 20px;
    margin-right: 25px;
  }
}

.main-info-wrapper {
  padding: 0;
}

.contact-info-wrapper {
  padding: 0;
  .field-item {
    font-size: 18px;
  }
  > .field {
    margin-bottom: 15px;
  }
  .comments-button {
    clear: left;
    padding-top: 15px;
  }
}

.body-wrapper {
  clear: both;
  padding-top: 20px;
}

iframe {
  width: 100%;
}

.field-name-field-photos {
  .mfp-nogallery-image {
    overflow: hidden;
    a {
      display: block;
      float: left;
      margin: 10px 20px 0 0;
    }
  }
}

.content .field-name-field-photos .field-items .field-item {
  width: 100%;
}

.field-name-field-videos {
  .field-items {
    overflow: hidden;
    margin: 0 auto;
  }
  .even {
    clear: left;
  }
  .field-item {
    display: block;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    vertical-align: top;
    iframe {
      max-width: 480px;
    }
  }
}

#comments {
  clear: both;
  padding: 15px 0;
}

//End service page

