//Menu
#block-system-user-menu li {
  float: left;
}

#header-region {
  float: right;
}

.region-header section {
  float: left;
}

#block-commerce-cart-cart .content-wrapper {
  padding: 25px 0;
  line-height: 150%;
}

//End Menu

#content-top-first-wrapper .container {
  .row {
    margin: 0;
  }
}

.block-custom-top-services {
  h2.block-title {
    margin: 0 auto;
    width: 250px;
    padding-bottom: 50px;
    color: #2B2B2B;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
  }
  .content-wrapper {
    margin: 0 -15px;
  }
  .service-wrapper {
    position: relative;
    float: left;
    padding: 0 15px;
    width: 20%;
  }
  .service-logo img {
    max-height: 150px;
    height: auto;
    max-width: 250px;
    width: auto;
  }
}

form#search-api-page-search-form-services > div {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-right: 100px;
  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

form#search-api-page-search-form-services {
  margin: 0 auto;
  width: 600px;;
}

.front #page #content-top-second-wrapper:before {
  display: none;
}

.front {
  h2.block-title {
    text-align-last: center;
  }
  p {
    text-align-last: center;
  }
}

.container {
  width: 100%;
}

.view-all-services .views-row {
  position: relative;
  float: left;
  padding: 15px 15px;
  width: 33%;
  height: auto;
  .views-field-field-logo img {
    max-height: 150px;
    height: auto;
    max-width: 250px;
    width: auto;
  }
}

.pagination {
  margin: 90px auto;
  width: 500px;
}