#header .row {
  margin: 0;
}
#header .col-md-12 {
  padding: 0;
}
#header .container {
  width: 100%;
}
#block-system-user-menu li {
  float: left;
  padding: 0;
}
.region-header {
  float: right;
  max-height: inherit;
}
.region-header section {
  float: left;
  margin: 0;
}
#logo img {
  width: 50px;
}
#header-region {
  background-color: black;
  padding-right: 25px;
  height: 50px;
  width: 100%;
}
.header-menu-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 150px;
  position: relative;
}
.header-menu-wrapper #site-name {
  padding: 20px 0 10px 20px;
  float: left;
}
@media (max-width: 991px) {
  .header-menu-wrapper .col-sm-3 #logo {
    padding: 20px 0 0 55px;
    text-align: left;
  }
  .header-menu-wrapper .col-sm-3 #site-name {
    padding-left: 55px;
  }
}
@media (max-width: 767px) {
  .header-menu-wrapper .col-sm-3 {
    height: 150px;
    width: 50%;
    float: left;
  }
  .header-menu-wrapper .col-sm-3 #logo {
    padding: 20px 0;
    text-align: left;
    width: 50%;
    float: left;
  }
  .header-menu-wrapper #main-menu.col-sm-9 {
    width: 100%;
    float: right;
    position: static;
  }
  .header-menu-wrapper #main-menu.col-sm-9 button.navbar-toggle {
    background: #35AA4B;
    padding: 15px 12px;
    border-radius: 4px;
    right: 15px;
    top: 30px;
    margin-right: 0;
  }
  .header-menu-wrapper #main-menu.col-sm-9 button.navbar-toggle .icon-bar {
    width: 26px;
    background: #FFF;
  }
  .header-menu-wrapper #main-menu.col-sm-9 .navbar-collapse {
    top: 100%;
    left: 0;
    background: #FFF;
    padding: 0;
  }
  .header-menu-wrapper #main-menu.col-sm-9 .navbar-collapse li a {
    color: #000 !important;
    border-bottom: 1px solid #000 ;
  }
  .header-menu-wrapper #main-menu.col-sm-9 .navbar-collapse li a:hover {
    border-bottom: none;
    background: #35AA4B !important;
    color: #FFF !important;
  }
  .header-menu-wrapper #main-menu.col-sm-9 .navbar-collapse #main-navigation ul {
    width: 100%;
  }
}
#block-commerce-cart-cart .content-wrapper {
  padding: 0;
  line-height: 150%;
}
#block-commerce-cart-cart .content-wrapper > div {
  padding: 10px 15px;
}
#main-navigation li.active-trail a,
#main-navigation li.active-trail span.nolink,
#main-navigation li.open > a,
#main-navigation li.open > span.nolink,
#main-navigation li a.active,
#main-navigation li a:hover,
#main-navigation li a.current,
#main-navigation li a.selected,
#main-navigation li span.nolink:hover,
#main-navigation li.active-trail span.nolink,
#main-navigation li span.nolink.selected {
  border-bottom: 2px solid #35AA4B;
}
@font-face {
  font-family: gothic;
  src: url(../fonts/GOTHIC.TTF);
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: gothic !important;
}
#main-content {
  padding: 0;
}
.container {
  padding: 0;
}
html body.html {
  background: white !important;
}
.btn-default,
.btn-primary,
.btn-success {
  background-color: #35AA4B;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
}
a {
  color: #35AA4B;
}
#content-top-first-wrapper .container .row {
  margin: 0;
}
.block-custom-top-services h2.block-title {
  margin: 0 auto;
  width: 250px;
  padding-bottom: 50px;
  color: #2B2B2B;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}
.block-custom-top-services .content-wrapper {
  margin: 0 -15px;
}
.block-custom-top-services .service-wrapper {
  position: relative;
  float: left;
  padding: 0 15px;
  text-align: center;
  width: 20%;
}
.block-custom-top-services .service-wrapper .service-logo {
  text-align: center;
  max-width: 250px;
  padding: 10px 0;
}
.block-custom-top-services .service-wrapper .service-logo img {
  max-height: 150px;
  height: auto;
  max-width: 100%;
  width: auto;
}
.block-custom-top-services .service-wrapper .service-title {
  height: 50px;
  display: table;
  width: 100%;
}
.block-custom-top-services .service-wrapper .service-title p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
@media (max-width: 767px) {
  .block-custom-top-services .service-wrapper {
    width: 50%;
    margin-bottom: 15px;
  }
  .block-custom-top-services .service-wrapper .service-logo {
    max-width: 100%;
  }
}
@media (max-width: 640px) {
  .block-custom-top-services .service-wrapper {
    width: 100%;
  }
}
#search-wrapper {
  padding: 100px 0 40px;
}
#search-wrapper form#search-api-page-search-form-services {
  margin: 0 auto;
  max-width: 600px;
}
#search-wrapper form#search-api-page-search-form-services > div {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-right: 100px;
}
#search-wrapper form#search-api-page-search-form-services > div button {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 767px) {
  #search-wrapper form#search-api-page-search-form-services {
    width: 100%;
  }
}
.front #page #content-top-second-wrapper:before {
  display: none;
}
.front h2.block-title {
  text-align-last: center;
}
.front p {
  text-align-last: center;
}
.views-row {
  position: relative;
  float: left;
  padding: 15px 15px;
  width: 33%;
  height: auto;
}
.views-row .views-field-field-logo img {
  max-height: 150px;
  height: auto;
  max-width: 250px;
  width: auto;
}
.view-all-services .views-row:nth-child(3n+1) {
  clear: left;
}
#slider-facetapi-facet-search-apiservices-block-field-cost {
  width: 70%;
  margin: 0 auto 0 0;
}
#views-exposed-form-all-services-page-search--page {
  width: 250px;
}
.pagination {
  margin: 90px auto;
  width: 500px;
  float: right;
}
.node .content {
  padding: 20px 0;
}
.node .content > .field {
  clear: both;
  width: 100%;
}
.node-services img {
  max-height: 150px;
  height: auto;
  max-width: 250px;
  width: auto;
}
.title-wrapper {
  overflow: hidden;
  width: 70%;
  float: left;
}
.title-wrapper > .field {
  float: left;
  width: 25%;
}
.title-wrapper h2 {
  margin: 0;
}
.title-wrapper h2 a {
  float: left;
  margin-right: 25px;
}
.field-name-field-social-links .field-item {
  float: left;
}
.field-name-field-logo {
  overflow: hidden;
  width: 30%;
}
.field-name-field-logo img {
  max-width: 250px;
  float: right;
}
.rating-wrapper {
  clear: both;
}
.rating-wrapper > .field {
  float: left;
  width: 100px;
  margin-top: 20px;
  margin-right: 25px;
}
.main-info-wrapper {
  padding: 0;
}
.contact-info-wrapper {
  padding: 0;
}
.contact-info-wrapper .field-item {
  font-size: 18px;
}
.contact-info-wrapper > .field {
  margin-bottom: 15px;
}
.contact-info-wrapper .comments-button {
  clear: left;
  padding-top: 15px;
}
.body-wrapper {
  clear: both;
  padding-top: 20px;
}
.field-name-field-photos .mfp-nogallery-image {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}
.field-name-field-photos .mfp-nogallery-image a {
  display: block;
  float: left;
  margin: 10px 10px;
}
.content .field-name-field-photos .field-items .field-item {
  width: 100%;
}
.field-name-field-videos .field-items {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}
.field-name-field-videos .even {
  clear: left;
}
.field-name-field-videos .field-item {
  display: block;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  vertical-align: top;
}
.field-name-field-videos .field-item iframe {
  max-width: 480px;
}
#comments {
  clear: both;
  padding: 15px 0;
}
.top-image #taxonomy-term-1 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-1 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-2 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-2 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-3 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-3 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-4 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-4 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-5 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-5 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-6 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-6 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-7 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-7 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-8 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-8 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-9 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-9 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-10 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-10 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-11 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-11 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-12 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-12 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-13 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-13 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-14 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-14 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-15 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-15 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-16 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-16 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-17 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-17 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-18 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-18 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-19 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-19 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-20 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-20 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-21 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-21 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-22 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-22 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-23 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-23 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-24 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-24 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-25 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-25 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
.top-image #taxonomy-term-26 {
  background-image: url("/sites/default/files/services-types/taxonomy_23.jpg");
  line-height: 400px;
}
.top-image #taxonomy-term-26 h2 {
  display: inline-block;
  vertical-align: middle;
  background-color: #fffefe;
  padding: 3px 10px;
}
#footer {
  padding: 0;
}
#footer #footer-inside div {
  text-align: center;
}
